
@require "~styles/blocks/variables/variables"

@require "screencast-header/screencast-header"
@require "screencast-content/screencast-content"
@require "screencast-header/_style/screencast-header_style_nodejs"
@require "screencast-header/_style/screencast-header_style_webpack"
@require "screencast-header/_style/screencast-header_style_gulp"
