extends /layouts/main


block append variables

  - var layout_main_class = "main_width-limit"
  - var title = 'Спасибо за регистрацию!';
  - var sitetoolbar = true


block content

  :markit
    Поздравляем, вы зарегистрировались в системе вебинаров!

    Вебинар работает только во время занятия, поэтому сейчас в него нельзя войти. Кроме того, ведущий должен одобрить ваше участие.

    Прямо сейчас вы, если пожелаете, можете произвести предварительное тестирование системы по адресу: <https://www3.gotomeeting.com/join/406552062>.

    При заходе вы должны увидеть картинку с "Waiting for the organizer", примерно такую:

    ![gotowebinar test](/img/gotowebinar-test.png)

    Если это так, то просто закрывайте страницу (всё в порядке, организатора там всё равно нет) и приходите на живой вебинар в соответствии с расписанием.

    Заметим, что чат, в отличие от вебинара, работает всё время.

    До встречи!
