extends /layouts/email

block body

  h2 Удалите, пожалуйста, дубликат аккаунта

  p.
    Здравствуйте!

  p На сайте http://learn.javascript.ru у вас 2 аккаунта с одним email, написанным в разном регистре: #{email1} и #{email2}.

  p По стандарту эти email'ы считаются разными, поэтому сайт долгое время позволял создавать такие аккаунты. Но это порождает излишнюю путаницу, чтобы её избежать, такая возможность будет убрана.

  p Прошу вас удалить тот аккаунт, который вам не нужен. Для этого войдите под ним на сайт, перейдите в профиль, на вкладку "Аккаунт", и нажмите на ссылку "Удалить аккаунт" внизу страницы.

  p 12 января будет миграция, при которой все email'ы будут переведены в нижний регистр.

  p Из аккаунтов-дубликатов при этом будет оставлен лишь тот, который использовался последним.

  p Если вас такой автоматизированный подход устраивает, то можно игнорировать это письмо. Если же нет, то прошу зайти и удалить тот, который лишний.

