extends /layouts/email

block body

  h2 Оповещение о переводе

  p Здравствуйте!

  p Вы были переведены из группы "#{oldGroup.title}" в группу "#{newGroup.title}".

  p Если возникнут какие-либо вопросы – вы можете ответить на это письмо.
