+b.courses-how.courses-mix
  +e('h2').title Как проходит обучение?

  +e.body
    p.
      Курс будет проходить на протяжении двух недель, т.е. традиционное собрание  + две полных недели по два занятия в неделю.
      Занятия насыщенные, так как курс проходит в формате интенсива. Чтобы получить от курса максимум результата, нужно не только слушать, но и делать что-то дома.

    p.
      На каждом занятии мы будем рассматривать новые темы. После встречи даётся домашнее задание.

    p.
      На следующем занятии мы смотрим готовые домашние задания, обсуждаем что и как получилось  и как возможно сделать лучше.
      Только так, постепенно, с обратной связью от преподавателя вы действительно разберётесь c языком TypeScript.


