+b.courses-how.courses-mix
  +e('h2').title Как проходит обучение?

  +e.body
    p.
      Курс будет состоять из четырёх занятий и домашнего задания между ними. Нам их будет вполне достаточно.

    p.
      Домашнее задание будет не очень большим, но важным, так как "грабли" всплывают именно при самостоятельном написании кода, а не при просмотре "как это делает преподаватель". Рекомендуется его выполнять.


