+b.courses-parts.courses-mix
  +e('h2').title Основные темы программы

  +b.tabbed-pane._01

    +e('ul').tabs
      +e('li').tab._01 Неделя 1
      +e('li').tab._02 Неделя 2

    +e.body._01
      +e('h2').title.phone-only Неделя 1

      p
        b Знакомство с TypeScript и основными структурными элементами

      p.
        В этом блоке мы разберем основные идеи TypeScript, зачем он нужен и почему так важен.
        Научимся писать простые компоненты и узнаем, в чем принципиальное отличие TypeScript от других решений.
        Узнаем все нюансы о типах,функциях и классах не только в теории но и на практике.

      ul
        li Настраиваем окружение.
        li Устанавливаем правила редактирования.
        li Знакомимся с типизацией и разбираемся в ней.
        li Рассматриваем функции в контексте ЕS6 и рассматриваем их сквозь призму TypeScript.
        li Рассмотрим классы как основной строительный элемент TypeScript.

    +e.body._02
      +e('h2').title.phone-only Неделя 2

      p
        b Углубляемся в понимание TypeScript

      p.
        Когда мы пишем реальные приложения или тестируем их, мы используем ряд сторонних решений и библиотек.
        Мы познакомимся с тем, где и как можно найти определения для таких решений и библиотек.
        На практике посмотрим как мы сами можем описать их. Ну и конечно приблизим наши задачи к реальности, разбив их на модули
        и компоненты. Обсудим возможность логирования.


      ul
        li Пишем приложнеия со сторонними библиотеками.
        li Учимся писать свои определения и используем сторонние.
        li Говорим о модулях и их реализации в TypeScript.
        li Смотрим как можно собрать модули с помощью WebPack.
        li Рассматриваем декораторы. Что это? Зачем? Где?.

script.
    var className = 'tabbed-pane', block = document.querySelector('.' + className);

    block.querySelector('.' + className + '__tabs').addEventListener('click', function(e) {
       block.className = className + ' ' + className + '_' +  e.target.className.split('_').pop();
    });



