+b.course-info._program.courses-mix
  +e.body.columns.columns_2

    +e.col.columns__col
      +e.content
        +e('h3').title Программа

        p.
          В этом курсе мы с вами шаг за шагом пройдем от знакомства с основными идеями до реального использования TypeScript,
          на практике посмотрим как решать типичные проблемы. Начнем с построения простых компонентов,
          научимся настраивать окружение, поговорим про системы сборки.

        p Курс состоит из 4-х занятий:

        ol
          li
            +e.text Знакомство с TypeScript и его окружением. 
          li
            +e.text Основные структурные элементы в TypeScript
          li
            +e.text TypeScript и сторонние библиотеки, модулизация. 
          li
            +e.text Декораторы, прочие вопросы по TypeScript.

        p Детали программы смотрите далее.

    +e.col.columns__col
      +e.content
        +e('h3').title Набор в группы

        if groups.length
          include ../signup

          p Количество участников в группе ограничено.

          p Вы также можете подписаться на уведомления по набору новых групп по этой программе:

          include ../subscribe

        else
          +b.courses-recruitment._no-groups
            +e('a').anchor#signup
            +e('h3').info-title В текущих группах мест нет.

            p Вы можете запросить уведомления о наборе новых групп по этой программе, следующий набор планируется в течение нескольких недель.

            include ../subscribe

          p Стоимость обучения – порядка 90$. Время обучения: 2 недели.

          include ../teachers
