+b.courses-result.courses-mix
  +e('h2').title Результат обучения

  +e.body
    ol
      li Вы знаете, понимаете и умеете использовать основные идеи TypeScript.
      li Вы готовы писать код, который легко читать, сапортить и расширять.
      li Вы готовы к детальному изучению AngularJS 2.0 and Ionic Framework 2.0.

