+b.courses-system-req.courses-mix
  +e('h2').title Что необходимо для курса

  +e.body
    p.
      Любой из популярных редакторов (в большинстве есть поддержка TypeScript). Желательно использовать WebStorm

    p.
      Установленный Node.js . Желательно перед второй неделей посмотреть несколько выпусков <a href="/screencast/nodejs">скринкаста по Node.js</a>

    p.
      Для онлайн-общения желателен интернет от 256kb/s.
