+b.courses-system-req.courses-mix
  +e('h2').title Что необходимо для курса

  +e.body
    p.
      Любой из популярных редакторов (в большинстве есть поддержка TypeScript). Желательно использовать WebStorm

    P.
      Установленный Node.js . Желательно посмотреть подкаст по Node.js

    p.
      Для онлайн-общения желателен интернет от 256kb/s.
