extends /layouts/main


block append variables

  - var layout_main_class = "main_width-limit"
  - var title = 'Онлайн-курс: настройка окружения';
  - var sitetoolbar = true
  - var siteToolbarCurrentSection = "courses"

block append head
  !=js("courses", {defer: true})


block content

  include block/intro.jade
  include block/chat.jade
  include block/gotowebinar.jade
  include block/questions.jade

  :markit
    ## Решение задач

    Для обмена решениями задач используется онлайн-песочница. Для учебника взят <a href="http://plnkr.co/edit/?p=preview">Plunker</a>,
     но вы можете использовать и <a href="http://jsbin.com">jsbin</a> и <a href="http://codepen.io">CodePen</a> и любую другую.

    Все решения просьба подписывать сверху своим именем, можно комментарий под `<html>`:

    ```html
    <!DOCTYPE HTML>
    <html>
    *!*
    <!-- By John Smith -->
    */!*
    ...
    ```

    ...И, конечно, решения нужно не только делать, но и показывать их. Но показать не все, а только те, которые отличаются от приведённых в учебнике.

    Рекомендуемый алгоритм действий при решении задачи:

    Если вы решили задачу сами...
    : В этом случае нужно посмотреть решение из учебника -- вдруг там подводные камни где-то, и просто чтобы увидеть альтернативный вариант.

        Если ваше решение чем-то отличается от данного в учебнике -- покажите его на занятии.

    Если вы не решили, но разобрались в решении...
    : Включать решение из учебника в домашнюю работу не надо, оно не ваше.

    Если вы не решили и не понятны какие-то моменты в решении.
    : Обязательно спросите на занятии! Любые ваши вопросы определённо стоят того, чтобы их обсудить на занятии.


  :markit
    ## Дополнительно

    Вам также может понадобиться просмотр PDF. Как правило, для этого используют Acrobat Reader. Скачать можно, например, <a href="http://get.adobe.com/reader/">здесь</a> (выберите OS, язык и уберите галочку Free McAfee).

    Ну и, конечно же, нужны будут браузеры, которые вы собираетесь поддерживать. Обычно это Chrome, Internet Explorer и Firefox. Настройте свое рабочее место. Поставьте редакторы -- я использую <a href="https://www.jetbrains.com/webstorm/">Webstorm</a> и <a href="http://www.sublimetext.com/">Sublime</a>,
    но есть и много других, выбор целиком ваш.

    Обязательно выставьте точное время на часах (свериться можно с [google](https://www.google.ru/search?q=время) или любым другим тайм-сервером). Это нужно для координации времени на перерывы и решение задач.

    Все эти приготовления и система задуманы так, чтобы сделать процесс обучения максимально комфортным и эффективным.

  include block/problems.jade
  include block/support.jade






