extends /layouts/main

block append head
  !=css("qa")
  !=js("qa", {defer: true})

block append variables
  - var sitetoolbar = true
  - var layout_main_class = "main_width-limit"
  - var layout_header_class = "main__header_center"

block content
  p Вопрос-ответ
