extends /layouts/main

block append head
  !=css("qa")
  !=js("qa", {defer: true})

block append variables
  - var sitetoolbar = true
  - var layout_main_class = "main_width-limit"
  - var layout_header_class = "main__header_center"

block content
  h1.main__header-title Редактировать вопрос
  +b.question
    +e('form').form(action="/question/", method="POST")
      +e('h4').header-title Вопрос
      +e('p') Формулировка должна быть емкой и подразумевать конкретный ответ
      +e.input-wrap._text
        +b.text-input
          +e('input').control(type="text", name="", placeholder="Формулировка вопроса", required)
      +e('h4').header-title Описание
      +e('p') Укажите здесь любую информацию, которая может уточнить или помочь в решении вопроса
      +e.editor-wrap
        +b.editor
          +e.editor-body
            include blocks/question-editor
      +e('h4').header-title Предпросмотр
      +e('p') То как ваше описание будет выглядеть после публикации
      +e.preview-wrap
        +b.preview._text-marked
      +e('h4').header-title Теги
      +e('p') Укажите теги для того чтобы ваш вопрос было легче найти и категоризировать
      +e.tags-wrap
        +b.tags
          +e.tags-input
            include blocks/question-tags
      +e.input-wrap._submit
        +b("button").button._action(type="submit")
          +e("span").text Опубликовать
        +b("button").alternate-button._cancel(type="submit")
          +e("span").text._cancel Отмена
        +b("button").alternate-button._remove(type="submit")
          +e("span").text._remove Удалить вопрос

