h2 Dropbox

p Для обмена файлами и совместной работы с кодом мы будем использовать <a href="http://dropbox.com">Dropbox</a>.

p.
  Это – сервис, который синхронизирует содержимое директории между различными компьютерами.
  После его установки и настройки вы сможете видеть мои файлы, а я – ваши. Конечно, в пределах указанного каталога.

ol
  li Зарегистрируйтесь в Dropbox с вашим Email: <code>#{user.email}</code>, поставьте программу и запустите.
  li Создайте у себя в Dropbox каталог с названием из вашего имени и фамилии латинницей через точку, например <code>ivan.ivanov</code>.
  li Расшарьте этот каталог (иконка с радугой) с аккаунтом #{group.slug}@javascript.ru.
  li Теперь я и вы имеем доступ к этому каталогу. В нём можно выкладывать решения домашних задач.

p Настройте, пожалуйста, Dropbox заранее, мне тоже нужно будет пригласить вас в свой каталог до начала занятий, а вам – принять это приглашение.

:markit
  ```warn
  При работе с Node.JS ни в коем случае не ставьте модули в каталог Dropbox.
  Держите каталог `node_modules` во внешней директории, на уровень выше.

  Иначе они будут забивать канал синхронизации и приводить к ошибкам, так как модули расшаривать нельзя.
  ```


