h2 Система для разделения экрана и общения

p Мы используем систему GoToWebinar, в ней специальный кодек, который обеспечивает лучшее качество скринкастов, чем более распространённый flv-формат.

p.
  Для использования этой системы в браузере должна быть установлена и включена java.
  Если у вас ее нет &ndash; скачать можно здесь:
  <a href="http://java.com/ru/download/">http://java.com/ru/download/</a>.

p Для захода в систему зайдите на <a href="http://joinwebinar.com">http://joinwebinar.com</a> и введите:

ul
  li <b>Webinar ID:</b> <code>#{group.webinarId}</code>
  li <b>Email:</b> <code>#{user.profileName}@javascript.ru</code> (именно это, не ваш реальный email).

p Для запуска системы отвечайте Yes на вопросы. Если ничего не запускается &ndash; возможно, нужно нажать кнопку <b>Launch</b> или <b>Download Software</b> и запустить скачанную программу вручную.

p Когда программа поставится, при следующем заходе скачивать или запускать ее заново будет не нужно.

:markit
  ```warn
  До собрания попробуйте войти, как указано выше, чтобы вас "зарегистрировало", но работать видео будет только во время онлайн-встречи.

  При попытке зайти во "внеурочное" время видео не запустится. Это нормально.
  ```

p
  | Заранее, для проверки, можно подключиться по адресу <a href="https://www3.gotomeeting.com/join/406552062">https://www3.gotomeeting.com/join/406552062</a>,
  | людей там нет, но программа должна поставиться и запуститься.

p Полная инструкция по тестированию входа находится на <a href="http://support.citrixonline.com/en_US/GoToMeeting/help_files/GTM140010?title=Test+Your+GoToMeeting+Connection">http://support.citrixonline.com/en_US/GoToMeeting/help_files/GTM140010?title=Test+Your+GoToMeeting+Connection</a>.

p Практика показывает, что если у вас стоит Java и работает Skype, то и видео тоже нормально заработает.

if group.skypeLink
  p Для неофициального общения также есть Skype-группа, к которой можно присоединиться по ссылке: <a href="#{group.skypeLink}">#{group.skypeLink}</a>.

h2 Общение голосом

p Для того, чтобы задавать вопросы голосом, используется та же система, что и для видео. Понадобится микрофон.

p Заметим, что микрофон не обязателен для участия, так как задавать вопросы можно и в чате.
