p.
  Эта инструкция – о том, как настроить у себя окружение для обучения.
  Прочитайте, пожалуйста, ее полностью. Настройте всё и, желательно, протестируйте на собрании.
  Это важно, чтобы вы могли сразу же полноценно принимать участие в процессе.

p Для общения используется одновременно видео, аудио и чат.

