
h2 Дополнительно

p.
  Обязательно выставьте точное время на часах (свериться можно с <a href="https://www.google.ru/search?q=время">google</a>)
  или любым другим тайм-сервером). Это нужно для координации времени на перерывы и решение задач.
