
h2 Возможные проблемы и их решения

h3 Если чат не работает

ol
  li.
    Во-первых, проверьте, что вы вводите в качестве логина именно то, что указано выше.
    Некоторые клиенты требуют указать логин вместе с сервером: <code>логин@javascript.ru</code>.
  li.
    Во-вторых, проверьте пароль – это должен быть пароль для входа на сайт <code>learn.javascript.ru</code>.

  li.
    Это бывает весьма редко, но некоторые провайдеры имеют сложности с правильным разрешением особых ДНС-записей для Jabber.
    В результате аккаунт не может подключиться.
    Попробуйте поставить DNS-сервер <code>8.8.8.8</code> (это открытый сервер от Google), если заработает, значит дело в этом.
    Под Windows это делается в настройках сетевого соединения (Свойства соединения, пункт TCP, DNS).

  li
    p.
      Если и это не помогло – проверьте, открыт ли порт 5222,
      это можно сделать командой <code>telnet jabber.javascript.ru 5222</code> или другой аналогичной.
      Иногда администраторы в офисах его закрывают.
    p.
      Если этот порт закрыт, можно использовать порт 80.
      В Pidgin для этого в настройках подключения выберите вкладку Advanced и укажите:

    ul
      li Connect port: <code>80</code>
      li Connect server: <code>jabber.javascript.ru</code>

    p Кстати, если DNS некорректный, то этот способ тоже работает (вместо 8.8.8.8 в TCP/IP).

p  Если всё ещё не работает – напишите преподавателю на <a href="mailto:#{group.teacherCache.publicEmail}">#{group.teacherCache.publicEmail}</a>, постараемся помочь.

p
  b Чат должен работать в любое время, проверьте его заранее.

h3 Если не работает видео

p.
  Видео, в отличие от чата, работает только во время занятий.
  Совершенно нормально, что до занятий вас "не пускает" в вебинар.

p.
  Как правило, оно стартует в течение 1-2 минут после захода ведущего в чат.
  Ведущий пишет о том, что видео запущено, в чате.

ol
  li Если вход не удаётся – проверьте, правильные ли данные вы вводите, в точности ли то, что указано выше?
  li Если вебинар пишет "not approved" – возможно, вы не пробовали войти до собрания, и ведущий не имел возможности подтвердить вашу регистрацию, попросите его об этом в чате.
  li Если всё ещё не работает, убедитесь что стоит <a href="http://java.com/ru/download/index.jsp">Java</a>.
  li Бывает так, что автоматически система не стартует, на этот случай при входе есть предложение скачать (download) программу и запустить её вручную.
  li Если никак не запускается – убейте процессы с названиями вида `g2*` (то есть, начинающиеся с `g2`) и браузер или перезагрузитесь и попробуйте ещё раз. Это сценарий бывает редко.

p.
  Если всё ещё не работает - во время онлайн-собрания можно задавать вопросы по Skype, ник: <code>javascript.ru</code>.

h3 Форс-мажор: если нет ведущего

p.
  Если вдруг случится что-то непредвиденное
  (на линии электропередач упало дерево, интернет-провода погрыз ополоумевший барсук, ведущего переехал самосвал) – занятия всё равно будут,
  но, возможно, с опозданием или переносом.

p Подобное бывает очень редко.

p.
  Обычно занятия начинаются по расписанию. Максимально возможное опоздание ведущего – 15 минут.
  Если его нет дольше и нет информации, значит произошло что-то серьезное.

p.
  Можно попытаться узнать, что именно, позвонив по телефону +7(903)541-94-41. Не стесняйтесь – звоните.
  В качестве финального порога отмены занятия устанавливается задержка на 30 минут.

p Разъяснения и соответствующее обновление расписания в этом случае будут в ближайшее возможное время.
