h2 Как задавать вопросы?

p.
  Если вдруг вам что-то непонятно в материале или решении задачи – обязательно говорите об этом, задавайте вопросы.

p.
  Бывает и так, что вроде бы не всё понятно, но что конкретно – сформулировать сложно.
  В этом случае отличным выходом является вопрос "с этого момента поподробнее".
  Главное – спрашивайте, участвуйте в занятии.

p.
  Ответы на ваши вопросы могут содержать дополнительные интересные сведения,
  которые помогут не только вам, но и другим участникам. Поэтому задавайте, все вам скажут только спасибо.

p
  b.
    Задавать вопросы можно двумя способами.

ol
  li Первый – написать в общем чате. Настройки чата описаны выше.
  li
    p.
      Второй – спросить голосом.
      Для этого нужно нажать на кнопку "ладонь со стрелкой вверх" ("Raise hand"),
      которая находится на мини-пульте управления системой разделения экрана.
      Обычно он справа-сверху. В этом случае, когда ведущий увидит вашу руку – он передаст вам "микрофон".

    p.
      При получении микрофона значок микрофона на мини-пульте изменится и раздастся голосовое оповещение на английском "unmuted", и вас будет слышно.

    p.
      Бывает, что поднятая рука заметна ведущему не сразу, тогда можно написать об этом в чате – "вопрос голосом".
