h2 Поддержка

p Если что-то из этой инструкции непонятно – задавайте вопросы на <a href="mailto:#{group.teacherCache.publicEmail}">#{group.teacherCache.publicEmail}</a>, преподаватель на них ответит.

p Во время собрания также доступен Skype: <code>javascript.ru</code>.
