.question

    .text-input
        width 100%

    &__input-wrap_submit

        .question-form
            border 0
            background none
            display inline
            margin 0
            padding 0
            cursor pointer

            &_remove
                float right
                padding-top 8px

            &_cancel
                width 112px

            &__text
                font-size font-size

                &_cancel
                    color #568DCA

                &_remove
                    color #C13335

    @media phone
        &
            min-width initial
            margin-bottom 30px

        .question-form

            &_cancel
                width 102px


