.question

    .text-input
        display block

    &__input-wrap_submit

        .alternate-button
            border 0
            background none
            display inline
            margin 0
            padding 0
            cursor pointer

            &_remove
                float right
                padding-top 8px

            &_cancel
                padding: 1px 29px;

            &__text
                font-size font-size

                &_cancel
                    color #568DCA

                &_remove
                    color #C13335

    @media phone
        &
            min-width initial
            margin-bottom 30px

        .alternate-button

            &_cancel
                padding: 1px 20px;


