+b.courses-how.courses-mix
  +e('h2').title Как проходит обучение?

  +e.body
    p.
      Курс будет проходить по схеме 1 + 6 + 2, т.е. Традиционное собрание на первой встрече, Затем мы с вами пройдем 3 основных блока(6 занятий), на которых разберем основы React и научимся строить приложения с использованием классической Flux архитектры.
      После окончания 3-х блоков мы сделаем перерыв, чтобы вы могли доделать все задания и усвоить полученные навыки. На последних 2-х уроках мы будем создавать подобное приложение с помощью Redux.js, таким образом вы получите навычки работы как с классическими,
      так и с современными подходами к приложениям на React.js, в будущем вы легко сможете перестраиваться на новые инструменты.

    p На каждом занятии мы изучаем что-то новое. После встречи даётся домашнее задание.

    p.
      На следующем занятии мы смотрим, что и как получилось его решить и как сделать лучше.
      Чтобы получить от курса максимум результата, нужно не только слушать, но и делать что-то дома, а затем – показывать преподавателю.
      Только так, постепенно, с обратной связью от преподавателя, создавая проект на React, вы действительно разберётесь c этой технологией.


