+b.courses-result.courses-mix
  +e('h2').title Результат обучения

  +e.body
    ol
      li Вы знаете, понимаете и умеете использовать основные идеи React.
      li Компонентный подход и архитетура одностороннего потока данных(Flux) ваше второе "Я"
      li Вы умеете строить как многоразовые компоненты так и SPA с помощью React
      li Вы знаете в каком направлении развиваться и на какие элементы инфраструктры React стоит обратить внимание

